.team {
  padding-top: 120px;
  margin-bottom: -40px;

  @include _1250 {
    padding-top: 50px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include _1250 {
      flex-direction: column;
    }
  }

  &__description {
    max-width: 303px;

    @include _1250 {
      max-width: 100%;
      margin-bottom: 25px;
    }
  }

  &__title {
    transform: translateY(-12px);
    margin-bottom: 0px;
  }

  &__text {
    line-height: 1.9;
    margin-bottom: 32px;
  }

  &__btn {
    max-width: 170px;
    height: 50px;
    @include popins-500;
    @include effect;
    @include path;
    background-color: $default;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 95px;

    @include _1250 {
      justify-content: space-around;
      margin: 0;
    }
  }

  &__item {
    margin-bottom: -10px;
  }

  &__images {
    width: 370px;
    min-height: 320px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 324px;
    height: 110px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    padding: 0 21px 0 26px;
    transform: translateY(-50px);
  }

  &__author {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include dmsans-700;
    font-size: 22px;
    color: $dark-blue;
  }

  &__profession {
    @include rubik-400;
    color: $comet;
  }

  &__link {
    display: block;
    width: 41px;
    height: 41px;
    @extend %bg-img;
    @include effect-icon;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}