.decor {
  padding-top: 140px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }

  &__item {
    display: flex;
    justify-content: center;
    background-color: $linen;
    height: 390px;
  }

  &__images {}

  &__img {
    object-fit: cover;
    transform: translate(35px, -100px);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 378px;
    margin-left: 60px;
    padding-right: 15px;
  }

  &__title {
    @include dmsans-700;
    max-width: 250px;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  &__text {
    @include rubik-400;
    margin-bottom: 30px;
    max-width: 360px;
  }

  &__btn {
    width: 180px;
    @include effect;
    border-radius: 5px;
    color: $dark-blue;
    border: 1px solid $accent;
    @include path;
  }

  @media (max-width: $screen-xl) {

    &__wrapper {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(1, 1fr);
    }

    &__item {
      justify-content: space-around;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 110px;
      }
    }
  }

  @media (max-width: $screen-sm) {
    padding-top: 50px;

    &__item {
      height: auto;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__img {
      transform: translateX(-10px);
    }

    &__inner {
      margin: 0;
      padding: 20px 10px;
    }

    &__title {
      font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (640 - 320)));
    }

    &__text {
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (640 - 320)));
    }
  }

  @media (max-width: $screen-xs) {
    &__item {
      flex-direction: column;
    }
  }
}