.decor {
  padding-top: 140px;

  @include _640 {
    padding-top: 50px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;

    @include _1365 {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

