.design {
  padding: 88px 0 80px;

  &__title {
    margin-bottom: 9px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__descr {
    position: relative;
    margin: 36px 0 0 36px;
    z-index: 5;
  }

  &__card {
    flex-basis: 370px;
    height: 247px;
    margin-bottom: 34px;
    @include dmsans-700;
    @include effect;
    background-color: $smoke;
    overflow: hidden;
  }

  &__caption {
    width: 175px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    color: $nero;
  }

  &__img {
    position: relative;
    top: -120px;
    @extend %bg-img;
  }

  &__style {
    color: $default;
  }

  &__filter {
    margin-bottom: 69px;
  }
}

.filter {
  &__button {
    @include filter-hover;
  }
}

.desing-video {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  @extend %bg-img;
  background-size: cover;

  path {
    transition: $trans;
  }

  &:hover path {

    &:first-child {
      opacity: 1;
    }

    &:nth-child(2) {
      fill: $light-brown;
    }

    &:last-child {
      fill: red;
    }
  }

  &:focus path {
    fill: $light-purple;

    &:last-child {
      fill: red;
    }
  }

  &:active path {
    fill: $seashell;
  }
}

@media (max-width: 1250px) {
  .design {
    padding: 50px 0;

    &__inner {
      justify-content: space-around;
    }

    &__filter {
      margin-bottom: 50px;
    }
  }

  .desing-video {
    min-height: calc(250px + (500 - 250) * ((100vw - 320px) / (1250 - 320)));
  }
}