.design {
  padding: 88px 0 80px;

  @include _1250 {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 9px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include _1250 {
      justify-content: space-around;
    }
  }

  &__filter {
    margin-bottom: 69px;

    @include _1250 {
      margin-bottom: 50px;
    }
  }
}
