.furniture {

  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    right: 50%;
    bottom: 45px;
    transform: translateX(50%);
  }

  &__slider li:not(:last-child) {
    margin-right: 12px;
  }

  &__slider button {
    width: 30px;
    height: 30px;
    padding: 0;
    @include btn;
    font-size: 11px;
    border: none;
    border-radius: 50%;
    background-color: $peach-orange;
    outline: transparent;
    transition: $trans;
    border: 1px solid transparent;


    &:hover {
      transform: scale(1.5);
      background-color: $gray;
    }

    &:focus {
      @include focus-text;
    }

    &:active {
      border: 1px solid $accent;
      background-color: $seashell;
    }
  }

  .slick-active button {
    background-color: #fff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-basis: 1200px;
    min-height: 820px;
  }

  &__item {
    @extend %bg-img;
  }

  &__title {
    @include rubik-500;
    padding-top: 220px;
    margin-bottom: 20px;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
  }

  &__descr {
    max-width: 450px;
  }

  &__images {
    object-fit: contain;
  }

  &__text {
    @include rubik-400;
    max-width: 367px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.6;
    color: $dark-blue;
  }

  &__btn {
    max-width: 200px;
    background-color: $default;
    color: #fff;
    @include effect;

    &:focus path {
      fill: $accent;
    }
  }
}

.support {
  margin-bottom: 55px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 170px;
    background-color: $seashell;
  }

  &__item {
    display: inline-block;
    position: relative;
    max-width: 256px;
    padding-left: 55px;
    margin: auto;

    &::before {
      @extend %before;
      width: 55px;
      height: 55px;
      left: -30px;
      top: 10px;
    }

    &:not(:last-child) {

      &::after {
        @extend %before;
        width: 1px;
        height: 170px;
        top: 50%;
        right: calc(-57% + 1px);
        transform: translateY(-50%);
        background-color: $pampas;
      }
    }

    &--time {
      &::before {
        background-image: url('../images/twenty-four.png');
      }
    }

    &--truck {
      &::before {
        background-image: url('../images/delivery-truck.png');
      }
    }

    &--card {
      &::before {
        background-image: url('../images/credit-card.png');
      }
    }
  }

  &__title {
    @include dmsans-700;
    display: block;
    font-size: 18px;
    color: $charcoal;
  }

  &__text {
    display: block;
    font-weight: 400;
  }
}