.gallery {

  &__title {
    margin-bottom: 10px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include _992 {
      justify-content: space-around;
    }
  }

  &__filter {
    margin-bottom: 80px;
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 270px;
  width: 100%;
  min-height: 380px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  text-align: center;
  cursor: pointer;

  @include _992 {
    margin-bottom: 20px;
  }

  &.product-card--list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    box-shadow: none;
    cursor: auto;

    @include _640 {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    &:not(:nth-child(-n + 4)) {
      display: none;
    }

    .product-card__box {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 500px;
      max-width: 370px;
      width: 100%;
      margin-left: 0;
      margin-right: 58px;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      border-radius: 0;

      @include _640 {
        margin-right: 0;
        min-height: auto;
        width: auto;
      }
    }

    .product-card__info {
      display: flex;
      flex-direction: column;
      text-align: left;
      min-height: 500px;
      padding: 85px 0 65px 0;

      @include _640 {
        padding: 30px 0;
        min-height: auto;
      }
    }

    .product-card__caption {
      font-size: 40px;
      line-height: 1;
      margin-bottom: 20px;
      @include rubik-400;
    }

    .product-card__stars {
      display: block;
      margin-bottom: 23px;
    }

    .product-card__price {
      @include rubik-400;
      font-size: 30px;
      line-height: 1.9;
      color: $accent;
      margin-bottom: 14px;
    }

    .product-card__descr {
      display: block;
      @include rubik-400;
      margin-bottom: 40px;
      max-width: 438px;
    }

    .filter-icon {
      opacity: 1;
      position: relative;
      justify-content: flex-start;

      @include _640 {
        top: 0;
      }
    }

    .list-icon__btn {
      border-radius: 0;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      @include effect-icon;
      @include path;

      path {
        fill: #a3bbc8;
      }

      &:hover {
        background-color: $default;

        path {
          fill: #fff;
        }
      }
    }

    .list-icon__item--zoom {
      display: none;
    }
  }

  &:hover .list-icon {
    opacity: 1;
  }

  &__box {
    margin: auto;
  }

  &__img {
    object-fit: contain;

  }

  &__info {
    padding-bottom: 38px;
  }

  &__caption {
    font-size: 16px;
  }

  &__price {
    @include dmsans-700;
    color: $default;
  }

  &__descr,
  &__stars {
    display: none;
  }
}

.list-icon {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;

  &__item:not(:last-child) {
    margin-right: 16px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    color: inherit;
    @include effect-icon;
    cursor: pointer;

    &--fill {
      background-color: $default;
    }

    &:hover path {
      fill: $nero;
    }
  }

  .filter-icon {
    display: none;
  }
}