.rule {
  padding-top: 118px;

  &__title {
    @include rubik-500;
    margin-bottom: 23px;
    font-size: 24px;
    color: $accent;
    line-height: 1;
  }

  &__text:not(:last-child) {
    margin-bottom: 60px;
  }
}

.table {
  padding-bottom: 40px;
  color: $accent;
  @include rubik-400;

  &__title {
    @include rubik-500;
    text-align: left;
    font-size: 24px;
    color: $accent;
    line-height: 1;
    padding-bottom: 20px;
  }

  &__text {
    padding-bottom: 18px;
    line-height: 1.9;
  }

  &__num {
    vertical-align: top;
    padding-right: 9px;
  }
}

@media (max-width: 640px) {
  .rule {
    padding-top: 50px;
  }
}
