$accent: #243f4d;
$title-h2: #191919;
$btn-color: #a3bbc8;
$footer-color: #7b7b7b;
$fonts: #fcd7b6;
$line: #e8e4df;

%bg-img {
  background-repeat: no-repeat;
  background-position: center center;
}

%before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

@mixin btn {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin btn-hover {
  background-color: transparent;
  border: 1px solid $accent;
  color: $accent;
}

@mixin dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

@mixin dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

@mixin dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

@mixin popins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

@mixin rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

@mixin rubik-500 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 500;
}

@mixin rubik-700 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 700;
}