@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

@import 'components/header';
@import 'components/footer';
@import 'components/news';
@import 'components/partners';
@import 'components/video';
@import 'components/bread-crumbs';
@import 'components/pagination';

@import 'index/furniture';
@import 'index/support';
@import 'index/gallery';
@import 'index/decor';
@import 'index/design';

@import 'about/history';
@import 'about/advantage';
@import 'about/team';
@import 'rule/rule';
@import 'contact/contact';

@import 'catalog/catalog-filter';
@import 'catalog/catalog-card';






.product {
  padding: 120px 0 96px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__img-box {
    // display: flex;
    width: 570px;

  }

  &__small-img {
    width: 138px;
    height: 170px;
    cursor: pointer;
  }

  &__img-littel {
    width: 138px;
    height: 170px;
    object-fit: cover;
  }

  &__big-img {
    max-width: 387px;
    min-height: 500px;
  }

  &__king-size {
    max-width: 387px;
    min-height: 500px;
    object-fit: cover;
  }

  &__small-slider {
    margin: 0 5px 25px 0;
  }

  &__content {
    margin-top: 10px;
    margin-left: 46px;
    max-width: 570px;
  }

  .card-block__caption {
    @include rubik-400;
    font-size: 40px;
  }

  .card-block__stars {
    display: block;
    margin-bottom: 27px;
    margin-left: -5px;
  }

  .card-block__price {
    display: block;
    font-size: 30px;
    color: $accent;
    margin-bottom: 15px;
  }

  .card-block__descr {
    display: block;
    margin-bottom: -8px;
  }

  &__form {
    margin-bottom: 59px;
  }

  &__number {
    // text-align: center;
  }

 
  &__btn {
    display: inline-block;
    width: 208px;
    height: 53px;
    // margin-left: 15px;
    background-color: $default;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    @include rubik-400;
    color: #fff;
    @include effect;
  }

  &__item {
    @include rubik-400;
  }

  &__id {
    color: inherit;
  }

  &__box-link {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 241px;
    height: 53px;
    font-size: 18px;
    @include rubik-500;
    @include effect;
    background-color: $alice-blue;
    border-radius: 5px;
    color: $accent;

    &:hover {
      border: transparent;
      background-color: $default;
      color: #fff;
    }

    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__text {
    @include rubik-400;
  }
}

 .jq-number__field {
   text-align: center;
   width: 100px;
   border: 1px solid $default;
   border-bottom-color: $default;
   border-radius: 0;
   box-shadow: transparent;
 }

 .jq-number__field input {
   width: 100%;
   padding: 16px 9px;
   border: none;
   outline: none;
   background: none;
   font-size: 15px;
   text-align: center;
   @include rubik-400;
   color: #333;
 }
