.history {
  padding: 120px 0;

  @include _1250 {
    padding: 50px 0;
  }

  &__wrapper {
    display: flex;

    @include _1250 {
      flex-direction: column-reverse;
    }
  }

  &__img {
    max-width: 570px;
    min-height: 675px;
    object-fit: cover;
    margin-right: 48px;

    @include _1250 {
      margin-right: 0;
      min-height: calc(200px + (675 - 475) * ((100vh - 320px) / (1250 -320)));
    }
  }

  &__inner {
    margin-top: 65px;

    @include _1250 {
      margin: 0 0 50px 0;
    }
  }

  &__time {
    display: flex;
    margin-bottom: 5px;
  }

  &__years {
    @include rubik-700;
    color: $default;
    font-size: 148px;
    line-height: 1;
    margin-right: 15px;

    @include _640 {
      font-size: calc(100px + 48 * ((100vw - 320px) / 320));
    }
  }

  &__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__skill:not(:last-child) {
    margin-bottom: 5px;
  }

  &__title {
    color: $accent;
    margin-bottom: 23px;
  }

  &__text {
    @include rubik-400;
    padding-bottom: 60px;
    line-height: 1.9;
    border-bottom: 1px solid $lavender;

    @include _640 {
      padding-bottom: 20px;
    }
  }

  &__info {
    display: flex;
    padding-top: 38px;

    @include _640 {
      flex-direction: column;
      padding-top: 0;
    }
  }

  &__item {
    flex-basis: 190px;
    @include dmsans-700;
    display: block;
    text-align: center;
    position: relative;

    @include _640 {
      flex-basis: auto;
    }

    &:not(:first-child) {
      margin-left: 25px;

      @include _640 {
        margin-left: 0;
      }
    }

    &::before {
      @extend %before;
      left: 0;
      top: 9px;
      width: 43px;
      height: 40px;

      @include _640 {
        left: 10%;
        top: 29px;
      }
    }

    &--project {
      padding: 0 25px 0 55px;
      border-right: 1px solid $lavender;

      @include _640 {
        padding: 20px 0;
        border: none;
        border-bottom: 1px solid $lavender;
      }

      &::before {
        background-image: url('../images/icons/history-text.svg');
      }
    }

    &--horn {
      padding: 0 30px 0 55px;
      border-right: 1px solid $lavender;

      @include _640 {
        padding: 20px 0;
        border: none;
        border-bottom: 1px solid $lavender;
      }

      &::before {
        background-image: url('../images/icons/history-horn.svg');
      }
    }

    &--medal {
      padding-left: 30px;

      @include _640 {
        padding: 20px 0 0 0;
      }

      &::before {
        background-image: url('../images/icons/history-medal.svg');
      }
    }
  }

  &__numbers {
    display: block;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
  }
}