.contact-address {
  padding: 115px 0 125px;

  &__pre-title {
    display: block;
    color: $default;
    line-height: 1.2;
    @include popins-700;
    text-align: center;
  }

  &__title {
    @include dmsans-700;
    font-size: 35px;
    color: $dark-blue;
    margin-bottom: 55px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include _1250 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-width: 370px;
    width: 100%;
    min-height: 380px;
    padding: 70px 49px 65px;
    font-style: normal;
    background-color: #fbfbfb;
    border: 3px solid transparent;
    transition: $trans;

    &:not(:last-child) {

      @include _1250 {
        margin-bottom: 20px;
      }
    }

    &:hover {
      border: 3px solid $default;
    }

    &:hover .contact-address__img-box {
      background-color: $default;
    }

    &:hover .contact-address__img-box path {
      fill: #fff;
    }
  }

  &__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: auto;
    background-color: #fff;
    border-radius: 25px;
    transition: $trans;
  }

  &__caption {
    @include dmsans-700;
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__link,
  &__info {
    color: $comet;
  }
}

.navigation {
  margin-bottom: 15px;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include _1250 {
      flex-direction: column;
      align-items: center;
    }
  }

  .sending-form {
    max-width: 620px;
    width: 100%;

    @include _1250 {
      margin-bottom: 20px;
    }

    &__input {
      &--email {
        &::placeholder {
          color: #999999;
        }
      }

      &::placeholder {
        text-transform: uppercase;
      }
    }

    &__textarea {
      height: 175px;

      &::placeholder {
        text-transform: uppercase;
      }
    }
  }

  #map {
    width: 500px;
    height: 334px;

    @include _1250 {
      width: 100%;
      height: calc(200px + 134 * ((100vw - 320px) / 320));
    }
  }
}