<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee | about</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#fcd7b6">
    <meta name="msapplication-TileColor" content="#fcd7b6">
    <meta name="theme-color" content="#fcd7b6">
    <link rel="stylesheet" href="css/about.min.css">
  </head>

  <body>

    {% include 'app/modul/_header/_header.html' %}
    <main class="main">
      <div class="bread-crumbs">
        <div class="container">
          <h2 class="bread-crumbs__title">About Us</h2>
          <ul class="bread-crumbs__list">
            <li class="bread-crumbs__item">
              <a class="bread-crumbs__link" href="#">
              Home
            </a>
            </li>
            <li class="bread-crumbs__item">
              <span class="bread-crumbs__part">
              About Us
            </span>
            </li>
          </ul>
        </div>
      </div>
      {% include 'app/modul/_history/_history.html' %}
      {% include 'app/modul/_advantage/_advantage.html' %}
      {% include 'app/modul/_team/_team.html' %}
      {% include 'app/modul/_news/_news.html' %}
      {% include 'app/modul/_partners/_partners.html' %}
    </main>

    {% include 'app/modul/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
  </body>

</html>