.bread-crumbs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 125px;
  padding: 0 15px;
  background-color: $alice-blue;

  &__title {
    @include rubik-300;
    color: $bunker;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 5px;
    text-align: center;

    @include _992 {
      font-size: calc(30px + 6 * ((100vw - 320px) / 320));
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    color: $amethyst-smoke;
  }

  &__item:not(:last-of-type)::after {
    content: "/";
    padding-right: 5px;
  }

  &__link {
    color: inherit;
    @include effect;

    @include _992 {
      padding: 10px 0;
    }
  }
}