.footer {
  @include rubik-400;
  padding-top: 100px;
  font-size: 14px;
  color: $gray;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
    border-bottom: 1px solid $default;
  }

  &__block {
    flex-basis: 200px;
  }

  &__logo {
    display: block;
    margin-bottom: 22px;
  }

  &__caption {
    display: block;
    margin: 15px 0;
    color: $light-purple;
    text-transform: uppercase;
    @include dmsans-700;
  }

  &__item {
    margin-bottom: 7px;
  }

  &__link {
    @include border;
    color: $gray;

    &:hover {
      color: $accent;
    }

    &:focus {
      @include focus-text;
    }
  }

  &__list {
    flex-basis: 200px;
  }

  &__inner {
    flex-basis: 270px;
  }

  &__text {
    max-width: 240px;
    margin-bottom: 33px;
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    font-size: 14px;
    line-height: 1;
  }

  &__copy-list {
    display: flex;
  }

  &__copy-section {
    padding-left: 17px;

    &:not(:last-child) {
      border-right: 1px solid $gray;
      padding-right: 17px;
    }
  }

  &__copy-link {
    @include border;
    color: $gray;

    &:hover {
      color: $accent;
    }

    &:focus {
      @include focus-text;
    }

    &:active {
      border: 1px solid $accent;
    }
  }
}

.address {
  max-width: 200px;
  font-style: normal;

  &__link {
    @include border;
    margin-bottom: 7px;
    display: block;
    color: $gray;

    &:hover {
      color: $accent;
    }

    &:focus {
      @include focus-text;
    }
  }

  &__name {
    text-transform: uppercase;
  }
}

.email-form {
  display: flex;
  @include dmsans-400;

  &__email {
    max-width: 170px;
    padding: 0 15px;
    background-color: $seashell;
    border: none;
    outline: transparent;
    transition: $trans;

    &::placeholder {
      font-size: 12px;
      color: #234969;
    }

    &:hover {
      box-shadow: $shadow;
      background-color: $pampas;
    }

    &:focus {
      @include focus-text;
    }

    &:active {
      border: 1px solid $accent;
    }
  }

  &__btn {
    width: 100px;
    height: 38px;
    @include btn;
    @include border;
    color: #fff;
    background-color: $default;

    &:hover {
      color: $nero;
      background-color: $pampas;
    }

    &:focus {
      border: 1px solid $light-purple;
    }

    &:active {
      border: 1px solid $accent;
    }
  }
}