.footer {
  @include rubik-400;
  padding-top: 80px;
  font-size: 14px;
  color: $gray;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid $default;
  }

  &__block {
    flex-basis: 200px;
  }

  &__logo {
    display: block;
    margin-bottom: 22px;
  }

  &__caption {
    display: block;
    margin: 15px 0;
    font-size: 16px;
    color: $light-purple;
    text-transform: uppercase;
    @include dmsans-700;
  }

  &__item {
    margin-bottom: 7px;
  }

  &__link {
    @include effect;
    color: $gray;
  }

  &__list {
    flex-basis: 200px;
  }

  &__inner {
    flex-basis: 270px;
  }

  &__text {
    max-width: 240px;
    margin-bottom: 33px;
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    font-size: 14px;
    line-height: 1;
  }

  &__copy-list {
    display: flex;
  }

  &__copy-section {
    padding-left: 17px;

    &:not(:last-child) {
      border-right: 1px solid $gray;
      padding-right: 17px;
    }
  }

  &__copy-link {
    @include effect;
    color: $gray;
  }

  @media (max-width: $screen-md) {
    padding-top: 50px;

    &__wrapper {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &__info {
      padding-right: 15px;
    }

    &__item {
      margin-bottom: 21px;
    }

    &__link {
      padding: 13px 7px 13px 0;
    }

    &__copy-link {
      padding: 15px 7px;
    }
  }

  @media (max-width: $screen-sm) {
    &__copy {
      flex-direction: column;
      padding: 10px 0;
    }

    &__copy-text {
      padding-bottom: 15px;
    }

    &__copy-section {
      padding-left: 5px;

      &:not(:last-child) {
        padding-right: 5px;
      }
    }
  }
}

.address {
  max-width: 200px;
  font-style: normal;

  &__link {
    @include effect;
    margin-bottom: 7px;
    display: block;
    color: $gray;
  }

  &__name {
    text-transform: uppercase;
  }

  @media (max-width: $screen-md) {
    &__link {
      padding: 9px 0;
    }
  }
}

.email-form {
  display: flex;
  @include dmsans-400;

  &__email {
    max-width: 170px;
    padding: 0 15px;
    @include focus-text;
    background-color: $seashell;
    border: none;


    &::placeholder {
      font-size: 12px;
      color: #234969;
    }

    &:hover {
      box-shadow: $shadow;
      background-color: $pampas;
    }

    &:active {
      background-color: $gray;
    }
  }

  &__btn {
    width: 100px;
    height: 38px;
    @include btn;
    @include effect;
    color: #fff;
    background-color: $default;
  }

  @media (max-width: $screen-md) {
    &__email {
      height: 45px;
    }

    &__btn {
      height: 45px;
    }
  }
}