.header {
  padding: 45px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  transform: translateX(75px);

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    @include rubik-500;
    position: relative;
    padding: 6px;
    color: $dark-blue;
    font-size: 15px;
    outline: transparent;
    transition: $trans;
    border: 1px solid transparent;

    &::before {
      @extend %menu-before;
      border-top: 1px solid $accent;
      border-bottom: 1px solid $accent;
      transform: scaleY(2);
    }

    &::after {
      @extend %menu-before;
      background-color: $accent;
      transform: scaleY(0);
      transition: 0.5s;
    }

    &:hover {
      color: #fff;
    }

    &:hover::before,
    &:hover::after {
      @extend %menu-hover;
    }

    &:focus {
     @include focus-text;
    }
  }
}

.user-menu {
  flex-basis: 320px;
  display: flex;
  align-items: center;
  @extend %bg-img;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    @include effect-icon;

    &--search {
      background-image: url('../images/icons/search.svg');
      width: 51px;
      height: 51px;
    }

    &--circle {
      position: relative;
      width: 88px;
      height: 51px;
      background-color: $light-brown;
      transition: $trans;
    }

    &--circle-left {
      margin-left: 20px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;

      &::after {
        @extend %before;
        width: 19px;
        height: 17px;
        background-image: url('../images/icons/heart.svg');
      }

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 32px;
        right: -5px;
        top: 10px;
        background-color: #fff;
        z-index: 7;
      }
    }

    &--circle-right {
      margin-right: 22px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;

      &::after {
        @extend %before;
        width: 19px;
        height: 17px;
        background-image: url('../images/icons/cart.svg');
      }
    }

    &--btn {
      @extend %bg-img;
      width: 51px;
      height: 52px;
      background-image: url('../images/icons/user-btn.svg');
    }
  }

  &__number {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    left: 53%;
    text-align: center;
    font-size: 10px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 5;
  }
}