.partners {
  height: 436px;
  margin-top: -50px;
  padding: 160px 0 90px;
  background-color: $seashell;

  &__wrapper {
    margin-top: 105px;
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    margin: 0 auto;
  }
}