.partners {
  height: 436px;
  margin-top: -170px;
  padding: 160px 10px 90px;
  background-color: $seashell;

  &__wrapper {
    margin-top: 105px;
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    margin: 0 auto;
  }
}

@media (max-width:1250px) {
  .partners {
    margin-top: -190px;
  }
}