.video {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  @extend %bg-img;
  background-size: cover;

  @include _1250 {
    min-height: calc(250px +  250 * ((100vw - 320px) / 320));
  }

  path {
    transition: $trans;
  }

  &:hover path {

    &:first-child {
      opacity: 1;
    }

    &:nth-child(2) {
      fill: $light-brown;
    }

    &:last-child {
      fill: red;
    }
  }

  &:focus path {
    fill: $light-purple;

    &:last-child {
      fill: red;
    }
  }

  &:active path {
    fill: $seashell;
  }
}