.filter-category {
  margin-top: -10px;
  margin-bottom: 45px;
  width: 100%;

  &__title {
    margin-bottom: 31px;
  }

  &__input {
    @include checkbox;

    &:checked+.filter-category__checkbox {
      background-color: $alice-blue;
    }
  }
}

.filter-prise {
  margin-bottom: 73px;

  &__form {
    padding-right: 25px;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    color: $accent;
    @include rubik-400;
    font-size: 14px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &--symbol {
    padding-left: 10px;
    position: relative;

    &::before {
      content: "$";
      position: absolute;
      left: 0;
    }
  }
}

.irs--flat {
  height: 15px;
  top: -20px;
  cursor: pointer;

  .irs-line {
    top: 26px;
    height: 2px;
    background-color: $default;
    border-radius: 1px;
  }

  .irs-bar {
    top: 26px;
    height: 3px;
    background-color: $default;
  }

  .irs-handle {
    top: 20px;
    width: 15px;
    height: 15px;
    background-color: $default;
    cursor: pointer;

    i:first-child {
      display: none;
    }
  }

  .irs-min,
  .irs-max {
    display: none;
  }

  .irs-from,
  .irs-to,
  .irs-single {
    display: none;
    top: 50px;
    background-color: transparent;


    &::before {
      display: none;
    }
  }
}

.filter-brand {
  margin-bottom: 37px;

  &__title {
    margin-bottom: 31px;
  }

  &__input {
    @include checkbox;

    &:checked+.filter-brand__checkbox {
      background-color: $alice-blue;
    }
  }
}

.filter-products {

  &__title {
    margin-bottom: 28px;
  }

  &__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  &__block {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__description {
    margin-left: 20px;
  }

  &__link-title {
    color: $accent;
  }

  &__name {
    @include rubik-400;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1;
  }

  &__prise {
    display: block;
    margin-top: 5px;
  }
}

.filter-products__stars {
  padding: 0;
}