.header {
  padding: 45px 0;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    z-index: 15;
  }
}

.menu {
  transform: translateY(-15px);

  @include _1250 {
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  &__list {
    display: block;

    @include _1250 {
      position: absolute;
      text-align: center;
      width: 60%;
      top: -1000%;
      right: 20%;
      transition: $trans;
    }

    &--active {
      @include _1250 {
        top: 50px;
      }

      @include _640 {
        top: 100px;
      }
    }
  }

  &__item {
    @include _1250 {
      background-color: $pampas;
      border-radius: 25px;
    }

    &:not(:last-child) {
      margin-right: 24px;

      @include _1250 {
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    @include rubik-500;
    position: relative;
    padding: 6px;
    color: $dark-blue;
    font-size: 15px;
    @include focus-text;

    @include _1250 {
      display: block;
      padding: 10px 0;
    }

    &::before {
      @extend %menu-before;
      border-top: 1px solid $accent;
      border-bottom: 1px solid $accent;
      transform: scaleY(2);

      @include _1250 {
        display: none;
      }
    }

    &::after {
      @extend %menu-before;
      background-color: $accent;
      transform: scaleY(0);
      transition: 0.5s;

      @include _1250 {
        display: none;
      }
    }

    &:hover {
      color: #fff;

      @include _1250 {
        color: $nero;
      }
    }

    &:focus {
      @include _1250 {
        border-radius: 25px;
      }
    }

    &:hover::before,
    &:hover::after {
      @extend %menu-hover;
    }
  }

  @media(min-width:1251px) {
    &__list {
      display: flex !important;
    }
  }
}

.burger-menu {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  @include effect-icon;
  background-color: $default;
  border: 1px solid $accent;
  border-radius: 50%;
  border: none;
  transform: translateY(50px);
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
  display: none;

  @include _1250 {
    display: flex;
  }

  @include _640 {
    right: -85%;
    transform: translateY(-20%);
  }

  &__btn {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: $accent;
    box-shadow: 0 1px 3px $light-brown;

    &::before,
    &::after {
      @extend %before;
      width: 30px;
      height: 4px;
      left: 19%;
      border-radius: 5px;
      background-color: $accent;
      box-shadow: 0 1px 3px $light-brown;
    }

    &::before {
      transform: translateY(10px);
    }

    &::after {
      transform: translateY(-10px);
    }
  }

  &--open .burger-menu__btn {
    background: transparent;
    box-shadow: none;
    transform: translateX(-26px);

    &::before {
      transform: rotate(45deg) translate(15px, -15px);
    }

    &::after {
      transform: rotate(-45deg) translate(15px, 15px);
    }
  }
}

.user-menu {
  position: absolute;
  max-width: 320px;
  width: 100%;
  right: 0;
  top: -70%;
  z-index: 15;

  @include _640 {
    top: 65%;
    left: -5%;
    transform: scale(0.9);
  }

  &__item {
    width: 88px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 88px;
    height: 51px;
    @include effect-icon;
    background-color: $light-brown;

    &--left {
      border-radius: 25px 0 0 25px;


      @include _640 {
        margin-left: 5px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 32px;
        right: 0;
        top: 10px;
        background-color: #fff;
        z-index: 2;
      }

      &:hover::before,
      &:focus::before {
        display: none;
      }
    }

    &--right {
      transform: translateX(-9px);
      border-radius: 0 25px 25px 0;

      @include _640 {
        margin-right: 5px;
      }
    }
  }

  &__number {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    left: 53%;
    text-align: center;
    font-size: 10px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 5;
  }
}